body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin: 0;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 1em;
    margin: 0.5em;
    text-decoration: none;
    color: black;
    background-color: gainsboro;
}