<main>
  <div>
    <h1>Gelb</h1>
    <div class="container">
      <ul>
        <li><a href="gelb">A</a></li>
        <li><a href="blau">B</a></li>
        <li><a href="blau">C</a></li>
      </ul>
    </div>
  </div>
</main>

<style>
  main {
    background-color: yellow;
  }
</style>
