<main>
  <div>
    <h1>Rot</h1>
    <div class="container">
      <ul>
        <li><a href="gruen">A</a></li>
        <li><a href="blau">B</a></li>
        <li><a href="gelb">C</a></li>
      </ul>
    </div>
  </div>
</main>

<style>
  main {
    background-color: red;
    color: white;
  }
</style>
